/* src/components/HeroSection/HeroSection.module.css */
.hero {
    background-color: #000;
    color: var(--light-text-color);
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.heroImageLeft,
.heroImageRight {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: 1;
}

.heroImageLeft {
    left: 0;
}

.heroImageRight {
    right: 0;
}

/* Camada de fundo para mobile, se você usa uma imagem diferente */
.heroBackgroundMobile {
    display: none; /* Por padrão, oculto no desktop */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 1;
}


.heroContent {
    max-width: 600px;
    z-index: 3;
    position: relative;
    padding: 2rem; /* Padding padrão para desktop */
}

.heroContent h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.heroContent p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

/* Media Queries para Hero Section */
@media (max-width: 1024px) {
    .heroImageLeft,
    .heroImageRight {
        width: 50%;
    }

    .heroContent {
        max-width: 500px;
    }
}

/* ---------------------------------------------------------------------- */
/* LAYOUT PARA CELULARES (max-width: 768px e 480px) */
/* ---------------------------------------------------------------------- */

@media (max-width: 768px) {
    .hero {
        min-height: 100vh;
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }

    .heroImageLeft,
    .heroImageRight {
        display: none;
    }

    .heroBackgroundMobile {
        display: block;
    }

    .heroContent {
        max-width: 90%;
        padding: 4rem 1.5rem 2rem; /* ALTERADO: Adicionei padding-top para descer o texto */
        position: relative;
        z-index: 2;
    }

    .heroContent h1 {
        font-size: 2.5rem;
    }

    .heroContent p {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .heroContent h1 {
        font-size: 2rem;
    }

    .heroContent p {
        font-size: 1rem;
    }
    
    .heroContent {
        padding: 3rem 1rem 1.5rem; /* ALTERADO: Ajuste o padding para telas muito pequenas */
    }
}