/* src/components/MenuItem/MenuItem.module.css */

.menuItemCard {
  background-color: var(--card-background);
  border-radius: var(--border-radius); /* Bordas arredondadas para o card inteiro */
  box-shadow: var(--box-shadow);
  padding: 0; /* Removido padding para a imagem ir até as bordas */
  overflow: hidden; /* Importante para cortar o conteúdo (como a imagem) e respeitar o border-radius do pai */
  display: flex;
  flex-direction: column; /* Imagem acima do bloco de informações */
  transition: transform var(--transition-speed);
}

.menuItemCard:hover {
  transform: translateY(-5px);
}

.itemImage {
  width: 100%; /* Imagem ocupa a largura total do card */
  height: 250px; /* Altura fixa para a imagem em desktop */
  object-fit: cover; /* A imagem irá cobrir o espaço, cortando se necessário para preencher sem deixar espaços */
  border-top-left-radius: var(--border-radius); /* Arredonda apenas os cantos superiores da imagem */
  border-top-right-radius: var(--border-radius); /* Arredonda apenas os cantos superiores da imagem */
  flex-shrink: 0;
}

.itemInfo {
  flex-grow: 1; /* Permite que o bloco de informações cresça para ocupar o espaço restante */
  text-align: left; /* Alinhamento do texto padrão */
  padding: 1.2rem 1.2rem; /* Espaçamento interno para o texto dentro do card */
  display: flex;
  flex-direction: column; /* Nome, descrição e preço um abaixo do outro */
  justify-content: space-between; /* Distribui o espaço entre os elementos de texto */
}

.itemName {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 0.4rem; /* Espaçamento abaixo do nome */
}

.itemDescription {
  font-size: 0.95rem; /* Tamanho da fonte para a descrição */
  color: var(--text-color);
  margin-bottom: 0.6rem; /* Espaçamento abaixo da descrição */
}

.itemPrice {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--secondary-color); /* Cor dourada para o preço */
  margin-top: auto; /* Empurra o preço para a parte inferior do .itemInfo se houver espaço extra */
}

/* Media Queries para MenuItem */
@media (max-width: 480px) {
  .menuItemCard {
    padding: 0; /* Garante que não haja padding extra no card */
  }

  .itemImage {
    height: 150px; /* Reduz a altura da imagem para celulares */
  }

  .itemInfo {
    padding: 1rem; /* Ajusta o padding interno do texto para mobile */
  }

  .itemName {
    font-size: 1.1rem; /* Reduz o tamanho do nome em mobile */
  }

  .itemDescription {
    font-size: 0.85rem; /* Reduz o tamanho da descrição em mobile */
  }

  .itemPrice {
    font-size: 1rem; /* Reduz o tamanho do preço em mobile */
  }
}